@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@media print {
  body * {
    visibility: hidden;
  }

  #printable-section,
  #printable-section * {
    visibility: visible;
  }

  #printable-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
  }

  .no-print {
    display: none !important;
  }
}